/* Header */

body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
  }
  
  header > div:first-child {
    display: flex;
    flex-direction: column;
  }
  
  .logo {
    font-family: 'Montez', cursive;
    font-size: 28px;
    color: blue;
  }
  
  .subheading {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 16px;
    margin-top: 10px; /* Add a margin to separate the logo and subheading */
  }
  
  .sign-in-btn,
  .sign-up-btn {
    background-color: blue;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Buttons Section */
  .buttons-section {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
  
  .all-posts-btn,
  .create-post-btn {
    background-color: yellow;
    color: black;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
  
  /* Modals */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    width: 400px;
    position: relative;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .modal-title {
    font-size: 24px;
    margin-bottom: 16px;
  }
  
  input[type="text"],
  input[type="password"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .green-btn {
    background-color: green;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
  }
  
  .not-member {
    margin-top: 16px;
  }
  
  /* Responsiveness */
  @media only screen and (max-width: 600px) {
    .buttons-section {
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
    }
  
    .all-posts-btn,
    .create-post-btn {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  